apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tr-ingress
  namespace: tr
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: traefik
  tls:
  - hosts:
      - segfault.pw
    secretName: tr-prod-tls
  rules:
  - host: segfault.pw
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: tr
            port:
              number: 4000
  - host: www.segfault.pw
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: tr
            port:
              number: 4000
